<!-- Extend Base Page -->
{% extends "base/base.html" %}

<!-- Load Static -->
{% load static %}

<!-- Enter Title -->
{% block title %}
<title>CoffeeTime | Contact</title>
{% endblock title %}

<!-- Content -->
{% block content %}
<!-- Contact Page -->
<div id="contact-page">
    <section class="contact-wrapper container">
        <div class="row mb-3">
            <div class="col">
                <iframe
                    src="https://www.google.com/maps/place/%D0%9F%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82/@50.4532155,30.5661468,13z/data=!4m6!3m5!1s0x40d4c55335c91015:0xe93079c4ca849368!8m2!3d50.454734!4d30.635592!16s%2Fg%2F11hbt1y44q?entry=ttu"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col p-5">
                <div class="info">
                    <div class="information py-2">
                        <img src=" {% static 'assets/coffee_wala.png' %} " alt="">
                    </div>
                    <div class="information">
                        <i class="icon fa-solid fa-location-dot"></i>
                        <p>S502 5 St S, Lethbridge, AB T1J 2B8</p>
                    </div>
                    <div class="information">
                        <i class="icon fa-solid fa-phone"></i>
                        <p>9937289499/ 7381499499</p>
                    </div>
                    <div class="information">
                        <i class="icon  fa-solid fa-envelope"></i>
                        <p>info@silicon.ac.in</p>
                    </div>
                    <div class="social-media">
                        <p>Connect with me :</p>
                        <div class="social-icons">
                            <a href="" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-5">
                <h2 class="head-design mb-4">Contact Us <span>Contact Us</span></h2>
                <form autocomplete="off" onsubmit="return formvalidation()">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control">
                        <span class="error_message" id="name_error"></span>
                    </div>
                    <div class="mb-3">
                        <label for="phone_number">Phone Number</label>
                        <input type="tel" id="phone_number" class="form-control">
                        <span class="error_message" id="phone_number_error"></span>
                    </div>
                    <div class="mb-3">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" class="form-control">
                        <span class="error_message" id="email_error"></span>
                    </div>
                    <div class="mb-3">
                        <label for="message">Message</label>
                        <textarea name="" class="form-control" id="" cols="10" rows="5" id="comment"></textarea>
                        <span class="error_message" id="message_error"></span>
                    </div>
                    <button class="submit-btn mb-5">Send</button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

<!-- Scripts -->
{% block script %}
<script src=" {% static 'script/contact.js' %} "></script>
{% endblock script %}